.switch-box {
  position: fixed;
  bottom: 15px;
  right: 120px;
  z-index: 9999;
}
.switch-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1.5px solid #ffffff;
  transition: 0.4s;
}
.switch-box .slider::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.4s;
  box-shadow: 0 0px 15px rgba(32, 32, 32, 0.2392156863);
  background: white url("../img/night.png");
  background-repeat: no-repeat;
  background-position: center;
}
.switch-box .slider.round {
  border-radius: 34px;
}
.switch-box .slider.round::before {
  border-radius: 50%;
}
.switch-box .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}
.switch-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-box input:checked + .slider {
  background-color: transparent;
  border: 1.5px solid #fdb819;
}
.switch-box input:focus + .slider {
  box-shadow: 0 0 1px #fdb819;
}
.switch-box input:checked + .slider:before {
  transform: translateX(24px);
  background: white url("../img/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6 {
  color: #ffffff;
}
.theme-dark h3 {
  color: #ffffff !important;
}
.theme-dark h3 a {
  color: #ffffff !important;
  transition: 0.7s;
}
.theme-dark h3 a:hover {
  color: #fdb819 !important;
}
.theme-dark p {
  color: #ffffff !important;
}
.theme-dark .content h3 {
  color: #ffffff;
}
.theme-dark .content h3 a {
  color: #ffffff;
}
.theme-dark .content span {
  color: #ffffff;
}
.theme-dark .content .read-btn {
  color: #ffffff;
}
.theme-dark body {
  background: #1d1d1d;
  color: #ffffff;
}
.theme-dark .navbar-area .side-nav .nav-cart {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.theme-dark .navbar-area .side-nav .nav-cart:hover {
  color: #ffffff;
  background-color: #fdb819;
}
.theme-dark .navbar-area .side-nav .nav-cart span {
  color: #fdb819;
  background-color: #ffffff;
}
.theme-dark .navbar-light .navbar-brand .logo-one {
  display: none;
}
.theme-dark .navbar-light .navbar-brand .logo-two {
  display: inline-block;
}
.theme-dark .main-nav {
  background-color: transparent;
}
.theme-dark .main-nav nav .navbar-nav .nav-item a {
  color: #ffffff;
}
.theme-dark .main-nav nav .navbar-nav .nav-item a i {
  color: #ffffff;
}
.theme-dark .main-nav nav .navbar-nav .nav-item a:hover {
  color: #fdb819 !important;
}
.theme-dark .main-nav nav .navbar-nav .nav-item a.active {
  color: #fdb819 !important;
}
.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu {
  background-color: #252525 !important;
}
.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  color: #ffffff !important;
}
.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #fdb819 !important;
}
.theme-dark .main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover {
  color: #fdb819 !important;
}
.theme-dark .menu-shrink {
  background-color: #252525;
}
.theme-dark .main-nav-two.menu-shrink .nav-two-logo-one {
  display: block;
}
.theme-dark .main-nav-two.menu-shrink .nav-two-logo-two {
  display: none;
}
.theme-dark #myModalRight .modal-header .btn-close {
  background-image: none;
  color: #ffffff;
  position: relative;
}
.theme-dark #myModalRight .modal-header .btn-close::before {
  content: "\ec8d";
  font-family: boxicons !important;
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  top: -7px;
  left: 0;
  right: 0;
}
.theme-dark #myModalRight .modal-header .modal-header-logo1 {
  display: none;
}
.theme-dark #myModalRight .modal-header .modal-header-logo2 {
  display: inline-block;
}
.theme-dark #myModalRight .modal-content .modal-body h2 {
  color: #ffffff;
}
.theme-dark #myModalRight .modal-content .modal-body .social-area ul li a {
  color: #ffffff;
  border-color: #ffffff;
  transition: 0.7s;
}
.theme-dark #myModalRight .modal-content .modal-body .social-area ul li a:hover {
  background-color: #fdb819;
}
.theme-dark .modal.modal-right .modal-content {
  background-color: #252525;
}
.theme-dark .banner-area .banner-content form .form-control {
  color: #ffffff;
  background-color: #0e0e0e;
}
.theme-dark .banner-area-three::before {
  background-color: #252525;
}
.theme-dark .banner-area-three .banner-content h1 {
  color: #ffffff;
}
.theme-dark .banner-area-three .banner-content .banner-btn-wrap .banner-btn-two {
  color: #ffffff;
  border-color: #ffffff;
}
.theme-dark .page-title-img-three:before {
  background-color: #0e0e0e;
  opacity: 0.8;
}
.theme-dark .service-area {
  background-color: #252525;
}
.theme-dark .service-area-three {
  background-color: #000000;
}
.theme-dark .service-area-three .service-item .accordion a {
  background-color: #252525;
  color: #ffffff;
}
.theme-dark .service-area-three .service-item .accordion a::after {
  color: #ffffff;
}
.theme-dark .service-area-three .service-item .accordion a span {
  color: #ffffff;
}
.theme-dark .sorting-menu ul li {
  color: #ffffff;
  background-color: #0e0e0e;
}
.theme-dark .sorting-menu ul li:hover, .theme-dark .sorting-menu ul li.active {
  color: #ffffff;
  background-color: #fdb819;
}
.theme-dark .collection-item .collection-bottom ul li .form-control {
  background-color: transparent;
}
.theme-dark .collection-area .more-collection a {
  color: #ffffff;
  border-color: #ffffff;
  transition: 0.7s;
}
.theme-dark .collection-area .more-collection a:hover {
  color: #fdb819;
  border-color: #fdb819;
}
.theme-dark .collection-area-two {
  background-color: #0f0f0f;
}
.theme-dark .download-area .download-content ul li {
  background-color: #252525;
  color: #ffffff;
}
.theme-dark .menu-area {
  background-color: #252525;
}
.theme-dark .menu-item {
  background-color: #0e0e0e;
}
.theme-dark .reservation-area {
  background-color: #0e0e0e;
}
.theme-dark .reservation-area .reservation-item ul {
  background-color: #252525;
}
.theme-dark .reservation-area .reservation-item ul li .form-control {
  background-color: #252525;
  color: #ffffff;
  border-color: #ffffff;
}
.theme-dark .review-area-two {
  background-color: #000000;
}
.theme-dark .story-area .story-item h3 {
  background-color: #252525;
}
.theme-dark .blog-area .read-blog-btn {
  color: #ffffff;
  border-color: #ffffff;
  transition: 0.7s;
}
.theme-dark .blog-area .read-blog-btn:hover {
  color: #fdb819;
  border-color: #fdb819;
}
.theme-dark .service-details-area .service-details-item .service-details-more ul li a {
  color: #ffffff;
}
.theme-dark .blog-details-tags ul li a {
  background-color: #252525;
  color: #ffffff;
  transition: 0.7s;
}
.theme-dark .blog-details-tags ul li a:hover {
  background-color: #fdb819;
  color: #ffffff;
}
.theme-dark .blog-details-nav ul li a {
  color: #ffffff;
  border-color: #ffffff;
}
.theme-dark .subscribe-area {
  background-color: #0e0e0e;
}
.theme-dark .subscribe-item .newsletter-form .form-control {
  color: #ffffff;
  background-color: #252525;
}
.theme-dark .footer-item .footer-logo a .footer-logo1 {
  display: none;
}
.theme-dark .footer-item .footer-logo a .footer-logo2 {
  display: inline-block;
}
.theme-dark .footer-item .footer-logo .footer-subscriber-two .form-control {
  background-color: #252525;
  color: #ffffff;
}
.theme-dark .footer-item .footer-service ul li {
  color: #ffffff;
}
.theme-dark .footer-item .footer-service ul li a {
  color: #ffffff;
  transition: 0.7s;
}
.theme-dark .footer-item .footer-service ul li a:hover {
  color: #fdb819;
}
.theme-dark .contact-location-area {
  background-color: #252525;
}
.theme-dark .contact-location-area .location-item {
  background-color: #0e0e0e;
}
.theme-dark .contact-location-area .location-item ul li {
  color: #ffffff;
}
.theme-dark .contact-location-area .location-item ul li a {
  color: #ffffff;
}
.theme-dark .contact-location-area .location-item:hover, .theme-dark .contact-location-area .location-item.active {
  background-color: #046E04;
}
.theme-dark .contact-form-area .contact-item {
  background-color: rgba(0, 0, 0, 0.5098039216);
}
.theme-dark .contact-form-area .contact-item #contactForm .form-group .form-control {
  background-color: #0e0e0e;
  color: #ffffff;
}
.theme-dark .contact-form-area .contact-item .contact-social span {
  color: #ffffff;
}
.theme-dark .book-table-area .book-table-wrap {
  background-color: #252525;
}
.theme-dark .book-table-area .book-table-wrap .form-group .form-control {
  background-color: #0e0e0e;
  color: #ffffff;
}
.theme-dark .cart-wrap .table tr td {
  color: #ffffff;
  background-color: #000000;
}
.theme-dark .cart-wrap .table tr td a {
  color: #ffffff;
}
.theme-dark .cart-wrap .table tr td a:hover {
  color: #fdb819;
}
.theme-dark .cart-wrap .table th {
  background-color: #000000;
}
.theme-dark .cart-wrap .shop-back a {
  color: #ffffff;
}
.theme-dark .cart-wrap .shop-back a:hover {
  color: #fdb819;
}
.theme-dark .cart-wrap .total-shopping h2 {
  color: #ffffff;
  border-color: #ffffff;
}
.theme-dark .cart-wrap .total-shopping h3 {
  color: #ffffff;
}
.theme-dark .cart-wrap .total-shopping a {
  color: #ffffff;
}
.theme-dark .checkout-item .checkout-one label {
  color: #ffffff;
}
.theme-dark .checkout-item .checkout-two .form-check span a {
  color: #fdb819;
  transition: 0.7s;
}
.theme-dark .checkout-item .checkout-two .form-check span a:hover {
  color: #ffffff;
}
.theme-dark .faq-area .accordion a {
  color: #ffffff;
  border-color: #ffffff;
}
.theme-dark .faq-area .accordion a::after {
  color: #ffffff;
}
.theme-dark .coming-item .coming-wrap .coming-inner {
  background-color: #252525;
}
.theme-dark .coming-item .coming-wrap .coming-inner h3 {
  color: #ffffff;
}
.theme-dark .copyright-area, .theme-dark .footer-area-two {
  background-color: #000000;
}/*# sourceMappingURL=theme-dark.css.map */